<h3>This is a game of chance;</h3>
<h2>a game of random variables that you will choose to play but have no choice in it's outcome.</h2>
<h1>Shall we begin?</h1>
<br>
<a href='/game/<%= @player1 %>/<%= @player2 %>'>PLAY.</a>
