body {
  background-color: white;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: magenta;
}

h2 {
  font-family: 'Pacifico', cursive;
  color: magenta;
}

h3 {
  font-family: 'Pacifico', cursive;
  color: magenta;
}

a {
  font-family: 'Comfortaa', cursive;
}

nav {
  font-family: 'Comfortaa', cursive;
}
